	h1, h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
		color: #666666;
		font-variant: small-caps;
		text-transform: none;
		font-weight: 200;
		margin-bottom: 0px;
		font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	}
        dd {
            color: #999;
            font-weight: normal;
			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size:small;
        }
		dd a {
			text-decoration:none;
		}
        dt {
			font-size:small;
 			font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: black;
			display:block;
			z-index: 9999;
			height: 20px;
			width: 100%;
			max-width: 800px;
			border-bottom: 1px solid #262422;
			-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
			background: #5a5955;
			background: -moz-linear-gradient(top,  #5a5955 0%, #51504c 50%, #494744 51%, #3f3d3a 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a5955), color-stop(50%,#51504c), color-stop(51%,#494744), color-stop(100%,#3f3d3a));
			background: -webkit-linear-gradient(top,  #5a5955 0%,#51504c 50%,#494744 51%,#3f3d3a 100%);
			background: -o-linear-gradient(top,  #5a5955 0%,#51504c 50%,#494744 51%,#3f3d3a 100%);
			background: -ms-linear-gradient(top,  #5a5955 0%,#51504c 50%,#494744 51%,#3f3d3a 100%);
			background: linear-gradient(to bottom,  #5a5955 0%,#51504c 50%,#494744 51%,#3f3d3a 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5955', endColorstr='#3f3d3a',GradientType=0 );			
        }
		dt a {
			text-decoration:none;
			color:white;
		}