﻿            td {
                vertical-align: top;
            }

            .myButton {
                background-color: #599bb3;
                -moz-border-radius: 8px;
                -webkit-border-radius: 8px;
                border-radius: 8px;
                display: inline-block;
                cursor: pointer;
                color: #ffffff;
                font-family: Arial;
                font-size: 16px;
                font-weight: bold;
                padding: 7px 26px;
                text-decoration: none;
                text-shadow: 0px 1px 0px #3d768a;
            }

                .myButton:hover {
                    background-color: #408c99;
                }

                .myButton:active {
                    position: relative;
                    top: 1px;
                }

            .nice-form {
                max-width: 500px;
                padding: 20px 12px 10px 20px;
                font: 13px Arial, Helvetica, sans-serif;
            }

            .nice-form-heading {
                font-weight: bold;
                font-style: italic;
                border-bottom: 2px solid #ddd;
                margin-bottom: 20px;
                font-size: 15px;
                padding-bottom: 3px;
            }

            .nice-form label {
                display: block;
                margin: 0px 0px 15px 0px;
            }

                .nice-form label > span {
                    width: 100px;
                    font-weight: bold;
                    float: left;
                    padding-top: 8px;
                    padding-right: 5px;
                }

            .nice-form span.required {
                color: red;
            }

            .nice-form .tel-number-field {
                width: 40px;
                text-align: center;
            }

            .nice-form input.input-field {
            }

            .nice-form input.input-field,
            .nice-form .tel-number-field,
            .nice-form .textarea-field,
            .nice-form .select-field {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                border: 1px solid #C2C2C2;
                box-shadow: 1px 1px 4px #EBEBEB;
                -moz-box-shadow: 1px 1px 4px #EBEBEB;
                -webkit-box-shadow: 1px 1px 4px #EBEBEB;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                padding: 7px;
                outline: none;
                width: 180px;
            }

                .nice-form .input-field:focus,
                .nice-form .tel-number-field:focus,
                .nice-form .textarea-field:focus,
                .nice-form .select-field:focus {
                    border: 1px solid #0C0;
                }

            .nice-form .textarea-field {
                height: 100px;
                width: 55%;
            }

            .nice-form input[type=submit],
            .nice-form input[type=button],
            .nice-form .a-button  {
                border: none;
                padding: 8px 15px 8px 15px;
                background: #FF8500;
                color: #fff;
                box-shadow: 1px 1px 4px #DADADA;
                -moz-box-shadow: 1px 1px 4px #DADADA;
                -webkit-box-shadow: 1px 1px 4px #DADADA;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                width: 180px;
            }

                .nice-form input[type=submit]:hover,
                .nice-form input[type=button]:hover,
                .a-button:hover {
                    background: #EA7B00;
                    color: #fff;
                }

            .available_reload {
                font-family: Consolas,'Courier New',monospace,'Monotype Corsiva';
            }