﻿
<div class="csstable">
    <table>
        <tr>
            <td>Barcode</td>
            <td>SKU DESCRIPTION</td>
            <td>Weighted Quantity</td>
            <td>Shop Price</td>
            <td>Weighted Shop Price</td>
            <td>Average WFP Price</td>
            <td>Weighted WFP Price</td>
        </tr>
        <tr>
            <td>
                <a href="javascript:showItems('1')">
                    6222000506571
                </a>
                <div id="item1" style="display:none">
                    <table>
                        <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                        <tr><td>6281011135231</td><td>AL-ARABI SUNFLOWER 3.5L</td><td>1</td><td>1.7</td></tr>
                    </table>
                </div>
            </td>
            <td>
                CRYSTAL SUNFLOWER OIL 3.5 LT
            </td>
            <td class="number">
                260
            </td>
            <td class="number">
                4.50
            </td>
            <td class="number">
                1,170.00
            </td>
            <td class="number">
                4.20
            </td>
            <td class="number">
                1,092.54
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:showItems('2')">
                    7616100759330
                </a>
                <div id="item2" style="display:none">
                    <table>
                        <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                        <tr><td>7616100759330</td><td>NIDO ONE PLUS STAGE 3 1800GM</td><td>7</td><td>6.19</td></tr>
                    </table>
                </div>
            </td>
            <td>
                NIDO ONE PLUS STAGE 3 1800GM
            </td>
            <td class="number">
                218
            </td>
            <td class="number">
                12.90
            </td>
            <td class="number">
                2,812.20
            </td>
            <td class="number">
                11.13
            </td>
            <td class="number">
                2,426.51
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:showItems('3')">
                    6253502280072
                </a>
                <div id="item3" style="display:none">
                    <table>
                        <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                        <tr><td>6253502280072</td><td>AL-GHAZALIN 100 TEA BAGS</td><td>34</td><td>0.69</td></tr>
                    </table>
                </div>
            </td>
            <td>
                AL-GHAZALAIN 100 TEA BAGS
            </td>
            <td class="number">
                24196
            </td>
            <td class="number">
                1.35
            </td>
            <td class="number">
                32,664.60
            </td>
            <td class="number">
                1.35
            </td>
            <td class="number">
                32,614.35
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:showItems('4')">
                    6253503244561
                </a>
                <div id="item4" style="display:none">
    </table>
</div>
                </td>
<td>
    BASHA OLIVE OIL 2L
</td>
<td class="number">
    1341
</td>
<td class="number">
    11.00
</td>
<td class="number">
    14,751.00
</td>
<td class="number">
    10.93
</td>
<td class="number">
    14,662.06
</td>
            </tr>
<tr>
    <td>
        <a href="javascript:showItems('5')">
            5285000390640
        </a>
        <div id="item5" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>5285000390640</td><td>INDOMIE CHKN NODLES 70G*5 BAGS</td><td>8</td><td>0.44</td></tr>
            </table>
        </div>
    </td>
    <td>
        INDOMIE CHKN NODLES 70G*5 BAGS
    </td>
    <td class="number">
        5916
    </td>
    <td class="number">
        0.85
    </td>
    <td class="number">
        5,028.60
    </td>
    <td class="number">
        0.86
    </td>
    <td class="number">
        5,114.53
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('6')">
            6253804640055
        </a>
        <div id="item6" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6253804640055</td><td>MUSTAFA BSMTI INDIAN RICE5K</td><td>11</td><td>2.52</td></tr>
            </table>
        </div>
    </td>
    <td>
        MUSTAFA BSMTI INDIAN RICE5K
    </td>
    <td class="number">
        9915
    </td>
    <td class="number">
        5.45
    </td>
    <td class="number">
        54,036.75
    </td>
    <td class="number">
        5.04
    </td>
    <td class="number">
        49,966.82
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('7')">
            9310140010519
        </a>
        <div id="item7" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>9310140010519</td><td>SUNWHIT CLROS RICE 5 KG</td><td>25</td><td>2.05</td></tr>
            </table>
        </div>
    </td>
    <td>
        SUNWHITE CALROSE RICE5K
    </td>
    <td class="number">
        11291
    </td>
    <td class="number">
        4.25
    </td>
    <td class="number">
        47,986.75
    </td>
    <td class="number">
        4.36
    </td>
    <td class="number">
        49,267.39
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('8')">
            3251350126002
        </a>
        <div id="item8" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>3251350126002</td><td>REGAL PICN PORT.CHESE-128G8PC</td><td>5</td><td>0.35</td></tr>
            </table>
        </div>
    </td>
    <td>
        REGAL PICN PORT.CHESE-128G8PC
    </td>
    <td class="number">
        13776
    </td>
    <td class="number">
        0.65
    </td>
    <td class="number">
        8,954.40
    </td>
    <td class="number">
        0.69
    </td>
    <td class="number">
        9,545.28
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('9')">
            6221048800443
        </a>
        <div id="item9" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6221048800443</td><td>KNOR CHIKN STCK20G*24PES</td><td>1</td><td>0.9</td></tr>
                <tr><td>6221007006848</td><td>MAGGI CHICK.STK24* 22G (EGY)</td><td>15</td><td>0.98</td></tr>
                <tr><td>6294003543662</td><td>MAGGI CHICKEN STOCK 24X20G</td><td>2</td><td>1.63</td></tr>
            </table>
        </div>
    </td>
    <td>
        KNOR CHIKN STCK20G*24PES
    </td>
    <td class="number">
        1612
    </td>
    <td class="number">
        1.35
    </td>
    <td class="number">
        2,178.34
    </td>
    <td class="number">
        1.53
    </td>
    <td class="number">
        2,471.88
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('10')">
            5285000390596
        </a>
        <div id="item10" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>5285000390596</td><td>INDOMIE CHIC.CURY NDL75G*5 BAG</td><td>10</td><td>0.44</td></tr>
            </table>
        </div>
    </td>
    <td>
        INDOMIE CHIC.CURY NDL75G*5 BAG
    </td>
    <td class="number">
        11405
    </td>
    <td class="number">
        0.85
    </td>
    <td class="number">
        9,694.25
    </td>
    <td class="number">
        0.87
    </td>
    <td class="number">
        9,965.96
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('11')">
            6251080051077
        </a>
        <div id="item11" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6251080051077</td><td>ALGHAZAL PURE VEG GHEE 1.7 K</td><td>5</td><td>1.63</td></tr>
            </table>
        </div>
    </td>
    <td>
        ALGHAZAL PURE VEG GHEE 1.7 K
    </td>
    <td class="number">
        12451
    </td>
    <td class="number">
        2.95
    </td>
    <td class="number">
        36,730.45
    </td>
    <td class="number">
        2.94
    </td>
    <td class="number">
        36,666.88
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('12')">
            6253503430049
        </a>
        <div id="item12" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6253003120297</td><td>HAMMOUDEH YOGURT 2000G</td><td>1</td><td>1.23</td></tr>
                <tr><td>6251063070149</td><td>MAHA YOGURT 1800 G</td><td>4</td><td>0.89</td></tr>
                <tr><td>6253503430049</td><td>TEEBA FRESH YOGURT2000G</td><td>4</td><td>1.2</td></tr>
            </table>
        </div>
    </td>
    <td>
        TEEBA FRESH YOGURT2000G
    </td>
    <td class="number">
        7405
    </td>
    <td class="number">
        2.35
    </td>
    <td class="number">
        17,432.31
    </td>
    <td class="number">
        2.38
    </td>
    <td class="number">
        17,649.47
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('13')">
            617241010011
        </a>
        <div id="item13" style="display:none">
            </table>
        </div>
    </td>
    <td>
        EL-KASIH TOMATO PASET135G
    </td>
    <td class="number">
        8105
    </td>
    <td class="number">
        0.25
    </td>
    <td class="number">
        2,026.25
    </td>
    <td class="number">
        0.25
    </td>
    <td class="number">
        2,007.85
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('14')">
            6217000114048
        </a>
        <div id="item14" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6217000114048</td><td>ALOSRA THYME 400G</td><td>11</td><td>1</td></tr>
            </table>
        </div>
    </td>
    <td>
        ALOSRA THYME 400 G
    </td>
    <td class="number">
        16307
    </td>
    <td class="number">
        1.40
    </td>
    <td class="number">
        22,829.80
    </td>
    <td class="number">
        1.56
    </td>
    <td class="number">
        25,386.55
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('15')">
            5285000390626
        </a>
        <div id="item15" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>5285000390626</td><td>INDOMIE VEG NODLES 75G*5 BAGS</td><td>31</td><td>0.44</td></tr>
            </table>
        </div>
    </td>
    <td>
        INDOMIE Vegitables Noodles 75G * 5
    </td>
    <td class="number">
        12206
    </td>
    <td class="number">
        0.85
    </td>
    <td class="number">
        10,375.10
    </td>
    <td class="number">
        0.86
    </td>
    <td class="number">
        10,503.10
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('16')">
            617241003105
        </a>
        <div id="item16" style="display:none">
            </table>
        </div>
    </td>
    <td>
        AL KASIH HUMOS TAHIN TRAPK135G
    </td>
    <td class="number">
        29491
    </td>
    <td class="number">
        0.25
    </td>
    <td class="number">
        7,372.75
    </td>
    <td class="number">
        0.32
    </td>
    <td class="number">
        9,463.15
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('17')">
            6253502280034
        </a>
        <div id="item17" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6253502280034</td><td>ALGHAZALAIN T-BOP BRKN 500G</td><td>2</td><td>1.2</td></tr>
            </table>
        </div>
    </td>
    <td>
        ALGHAZALAIN T-BOP BRKN 500G
    </td>
    <td class="number">
        17040
    </td>
    <td class="number">
        2.25
    </td>
    <td class="number">
        38,340.00
    </td>
    <td class="number">
        2.37
    </td>
    <td class="number">
        40,366.57
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('18')">
            6111068000049
        </a>
        <div id="item18" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6111068000049</td><td>MILLO SARDINES'VEG.OIL125G</td><td>19</td><td>0.27</td></tr>
            </table>
        </div>
    </td>
    <td>
        MILLO SARDINES'VEG.OIL125G
    </td>
    <td class="number">
        33381
    </td>
    <td class="number">
        0.50
    </td>
    <td class="number">
        16,690.50
    </td>
    <td class="number">
        0.54
    </td>
    <td class="number">
        17,862.24
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('19')">
            6111068000056
        </a>
        <div id="item19" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6111068000056</td><td>MILLO SARDINES'SPC. VG.OIL125G</td><td>47</td><td>0.28</td></tr>
            </table>
        </div>
    </td>
    <td>
        MILLO SARDINES'SPC. VG.OIL125G
    </td>
    <td class="number">
        29825
    </td>
    <td class="number">
        0.50
    </td>
    <td class="number">
        14,912.50
    </td>
    <td class="number">
        0.50
    </td>
    <td class="number">
        14,987.61
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('20')">
            617241001019
        </a>
        <div id="item20" style="display:none">
            </table>
        </div>
    </td>
    <td>
        EL-KASIH FOUL MDMS BIG400GR
    </td>
    <td class="number">
        25140
    </td>
    <td class="number">
        0.40
    </td>
    <td class="number">
        10,056.00
    </td>
    <td class="number">
        0.47
    </td>
    <td class="number">
        11,861.72
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('21')">
            6253010625181
        </a>
        <div id="item21" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6253010625181</td><td>FARAH SUNFLOWER OIL 5L</td><td>52</td><td>2.06</td></tr>
            </table>
        </div>
    </td>
    <td>
        FARAH SUNFLOWER OIL 5L
    </td>
    <td class="number">
        3902
    </td>
    <td class="number">
        4.99
    </td>
    <td class="number">
        19,470.98
    </td>
    <td class="number">
        3.94
    </td>
    <td class="number">
        15,381.34
    </td>
</tr>
<tr>
    <td>
        <a href="javascript:showItems('22')">
            6253503240594
        </a>
        <div id="item22" style="display:none">
            <table>
                <tr><th style="background-color: #003366;color: white;text-align: left">Barcode</th><th style="background-color: #003366;color: white;text-align: left">Item Description</th><th style="background-color: #003366;color: white;text-align: left">Shop Quantity</th><th style="background-color: #003366;color: white;text-align: left">Average Price</th></tr>
                <tr><td>6253501410029</td><td>AJLOUN VIRGIN OLIVE OIL700ML</td><td>2</td><td>2.97</td></tr>
                <tr><td>6253502040157</td><td>NABALI OLIVE OIL 700 ML(PET)</td><td>4</td><td>2.25</td></tr>
            </table>
        </div>
    </td>
    <td>
        BASHA OLIVE OIL 700 ML
    </td>
    <td class="number">
        3077
    </td>
    <td class="number">
        3.75
    </td>
    <td class="number">
        11,538.75
    </td>
    <td class="number">
        4.08
    </td>
    <td class="number">
        12,551.98
    </td>
</tr>
<tr style="background-color:#ccc">
    <td>
        <strong>TOTAL</strong>
    </td>
    <td>
        &nbsp;
    </td>
    <td class="number">
        &nbsp;
    </td>
    <td class="number">
        &nbsp;
    </td>
    <td class="number">
        387,052.28
    </td>
    <td class="number">
        &nbsp;
    </td>
    <td class="number">
        391,815.79
    </td>
</tr>
        </table>
<h2>Price Index = 387,052.28/391,815.79         x 100=98.78%</h2>
    </div>
<script>
            function showItems(id) {
                if($("#item" + id).is(":visible"))
                    $("#item" + id).hide();
                else
                    $("#item" + id).show();
            }
</script>