﻿<!doctype html>
<html class="" id="jewel" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WFP Jordan Cash Transfer Triangulation Analyzer</title>
<meta name="description" content="">
<meta name="viewport" content="width=960, maximum-scale=0.92"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" type="text/css" href="css/newtabs.css">
<link rel="stylesheet" type="text/css" href="css/bullet.css">
<!--[if IE 9]>
    <link rel="stylesheet" href="css/main_ie.css"/>
    <![endif]-->
<link rel="icon" href="images/favicon.ico">
<script type="text/javascript"> if (!window.console) console = { log: function () { } }; </script>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/head.min.js"></script>
<script type="text/javascript">document.getElementsByTagName('html')[0].id = 'jewel'</script>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular.framework.js"></script>
<script type="text/javascript" src="js/MainPlugins.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="js/querytitles.js" type="text/javascript"></script>
<script type="text/javascript">

    function setTab(tabId) {
        ResetTabs();
        $("#" + tabId).addClass("here");
        $("#filetype").val(tabId);
    }
    function ResetTabs() {
        $("#Reload_WFP").removeClass("here");
        $("#MEPS_Data").removeClass("here");
        $("#JAB").removeClass("here");
        $("#Merchant_Sales").removeClass("here");
        $("#Merchants_WFP").removeClass("here");
    }
</script>

<!-- custom scripts block -->
</head>
<body>
<ui-view>
  <div id="nav" class="structural"> <a class="home" href="en/" data-ng-click="goHome($event)">
    <dl>
      <dt><span></span>Home</dt>
      <dd></dd>
    </dl>
    </a> <a class="logout" href="index.php">
    <dl>
      <dt><span></span>Logout</dt>
      <dd></dd>
    </dl>
    </a> </div>
  <div id="home" class="structural">
    <div class="wrapper window">
      <div id="logo" class="animated fadeInDown">WFP Jordan Cash Analyzer</div>
      <div id="welcome">Welcome back, Admin</div>
      <div id="notices">
        <div class="wrapper">
          <ul>
            <li> <a href="analytics.php" class="act_panel_open"><strong>Statistics:</strong>Triangulate data and find outliers and unwanted extremes </a> </li>
            <li> <a href="analytics.php" class="act_panel_open"><strong>Preferences:</strong>You can set lookup tables and options the way you want the to look </a> </li>
            <li> <a href="javascript:alert('Error')"><strong>Import:</strong>Import data from other systems in CSV format itno the Cash Analyzer Database. </a> </li>
          </ul>
        </div>
      </div>
      <ul id="zoneselectors" class="large">
        <dl class="connectivity">
          <a class="act_panel_open" href="dashboard.php">
          <dt>Dashboard</dt>
          <dd>Data visualization displaying the current status of metrics</dd>
          </a>
        </dl>
        <dl class="hosting">
          <a class="act_panel_open" href="javascript:alert('Error')">
          <dt>Import Data</dt>
          <dd>Import data from CSV files into the online database</dd>
          </a>
        </dl>
        <dl class="billing">
          <a class="act_panel_open" href="analytics.php">
          <dt>Reports</dt>
          <dd>View key perfomance indicators.</dd>
          </a>
        </dl>
        <dl class="account">
          <a class="act_panel_open" href="reports.php">
          <dt>Data Management</dt>
          <dd>View and manage data</dd>
          </a>
        </dl>
        <dl class="support">
          <a class="act_panel_open" href="settings.php">
          <dt>Settings</dt>
          <dd>Configure lookup tables and manage users and their rights</dd>
          </a>
        </dl>
        <dl class="other">
          <a class="act_panel_open" href="help.php">
          <dt>Help</dt>
          <dd>Find information about how you can use the Cash and Voucher Anlyzer</dd>
          </a>
        </dl>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
      <a id="message_notifier" class=" act_panel_open"
       href="en/clientnotification/notices"><span></span>
      <div class="unread">0</div>
      </a> </div>
    <div id="footer"> <span>Copyright &copy; 2015 WFP Jordan Internet Services.</span> <a class="act_popup_open" title="Report a bug!" rel="warning" minlength="2"
                       href="en/dashboard/report-a-bug">Report a Bug</a> <a class="act_popup_open" title="Request a Feature" rel="info"
                       href="en/dashboard/feature-request">Request
      a Feature</a> <a class="act_popup_open" title="Contact Us" rel="info"
                       href="en/dashboard/contact-us">Contact
      us</a> <span style="display: none;" id="showServerName">cz4</span> </div>
  </div>
  <div id="panels"></div>
  <div id="blackout" class="structural"></div>
  <div id="temp"></div>
  <div id="loader" class="animated pop" style="display: none">
    <div></div>
    processing your request </div>
</ui-view>

</body>
</html>
