﻿<table border=1><tr>
    <th style="background-color: #003366;color: white;text-align: left">Office</th>
    <th style="background-color: #003366;color: white;text-align: left">Data_Gatherer</th>
    <th style="background-color: #003366;color: white;text-align: left">Retailer_Type</th>
    <th style="background-color: #003366;color: white;text-align: left">No_of_Retailers</th>
    <th style="background-color: #003366;color: white;text-align: left">No_of_Commodities</th>
    </tr>