﻿body {
    font-size:200%;
}

.header {
    background-image: url(../images/market2.jpg);
    width: 100%;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 25px;
    text-shadow: 2px 2px black;
    text-align:center;
}
.form-control {
    font-size:17px;
}
#supply_message {
    color:red;
    font-style:italic;
    font-size:12px;
}
.mobile-menu{
    float:left;
    margin-top:20px;
}